/* div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    margin-left: 48.5px;
    margin-right: 48.5px;
  } */

.channel_plus {
  background-color: rgb(45, 164, 78);
  border-radius: 5px;
  padding: 4px 13px;
  color: #fefdf8;
}
.channel_plus:hover {
  cursor: pointer;
  background-color: rgb(39, 146, 69);
}

.channel_delete {
  border: solid 1px #d5d8da;
  padding: 4px 15px;
  border-radius: 5px;
  background-color: #f6f8fa;
  color: #cf222e;
}
.channel_delete:hover {
  cursor: pointer;
  background-color: #cf222e;
  color: #f6f8fa;
}

.modal {
  padding: 0;
  border-radius: 100px;
}

.list {
  padding-top: 0;
}

/* .channel_row {
  flex-direction: row;
}

.channel_span {
  width: 470px;
  height: 80px;
  border-style: solid;
  border-width: 2pt;
  border-radius: 10px;
  padding: 15px 20px;
  margin: 0px 15px;
} */

.logout {
  position: absolute;
  top: 30px;
  right: 50px;
  border: none;
  display: inline-block;
  background-color: white;
}

.logout:hover {
  cursor: pointer;
}

.channel {
  display: flex;
  flex-direction: row;
  border: solid 2px;
  border-radius: 10px;
  justify-content: left;
  width: 500px;
  height: 46px;
  margin-bottom: 1px;
  padding: 0 35px;
  background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
}

.channel_text {
  font-size: 20pt;
}

.channel_enter {
  position: absolute;
  margin-left: 470px;
  padding: 4px 12px;
  border-radius: 4px;
  background-color: rgb(141, 203, 254);
  color: rgb(248, 251, 255);
  transition: 5ms;
}
.channel_enter:hover {
  cursor: pointer;
  background-color: rgb(136, 195, 243);
}

.channel_num {
  font-size: 20px;
}

.room {
  padding-top: 30px;
}

.room_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 195px;
  border: solid 1px;
}

.room_box {
  width: 440px;
  height: 90px;
  border-style: solid;
  border-width: 2pt;
  border-radius: 10px;
  padding: 15px 20px;
  margin: 13px 15px;
}

.room_box_one {
  /* position: absolute; */
  width: 440px;
  height: 90px;
  border-style: solid;
  border-width: 2pt;
  border-radius: 10px;
  padding: 15px 20px;
  /* margin: 13px 15px; */
  margin-top: 13px;
  margin-left: -502px;
  /* padding: 30px 195px; */
}

.arrow {
  position: absolute;
  bottom: 50px;
}

/* .btn {
  color: white;
  padding: 15px 25px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-bottom-color: rgba(0, 0, 0, 0.34);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.34) inset,
    0 2px 0 -1px rgba(0, 0, 0, 0.13), 0 3px 0 -1px rgba(0, 0, 0, 0.08),
    0 3px 13px -1px rgba(0, 0, 0, 0.21);
  background-color: #7fccde;
}

.btn:hover {
  background-color: #82d1e3;
}

.btn:active {
  top: 1px;
  border-color: rgba(0, 0, 0, 0.34) rgba(0, 0, 0, 0.21) rgba(0, 0, 0, 0.21);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.89), 0 1px rgba(0, 0, 0, 0.05) inset;
  position: relative;
} */
